<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../../static/css/components/features.css">
    <script src="./features.js" defer></script>
</head>
<body>
    <div class="features">
        <i class="material-icons" id="weather_icon" onclick="openModal('weather-popup')">sunny</i>
        <i class="material-icons" id="camera_icon">photo_camera</i>
        <i class="material-icons" id="search_icon">search</i>
        <i class="material-icons" id="menu_icon">menu</i>
        <i class="material-icons" id="settings_icon">settings</i>
    </div>
</body>
</html>
