<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/components/log.css">
    <script src="./log.js" defer></script> 
</head>
<body>
    <div class="log">
        <h1>Log</h1>
        <i class="material-icons" id="filterL_icon" onclick="openFilter()">filter_alt</i>

        <div class="notification">
            <i class="notification-icons" >botao com cor de gravidade</i>
            <h2>horario</h2>
            <h2>texto</h2>
            <i class="notification-icons" >tipo de notificação</i>
        </div>

    </div>
</body>
</html>
