<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WildFire Prevention</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/index.js" defer></script>
</head>
<body>
    <div class="dashboard">
        <div id="situation-panel" class="panel"></div>
        <div id="resources-panel" class="panel"></div>
        <div id="predictions-panel" class="panel"></div>
        <div id="features-panel" class="panel"></div>
        <div id="log-panel" class="panel"></div>
        <div id="time-panel" class="panel"></div>
    </div>
</body>
</html>